<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web App with Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="app">
        <h1>Welcome to Devops Assignment 1</h1>
        <p>This is a basic web app built with Flask</p>
        <p> By 2022mt03563@wilp.bits-pilani.ac.in</p>
        <p>    2022mt03570@wilp.bits-pilani.ac.in</p>
        <p>    2022mt03551@wilp.bits-pilani.ac.in</p>
        <p>    2022mt03554@wilp.bits-pilani.ac.in</p>
        <p>    2022mt03590@wilp.bits-pilani.ac.in</p>
    </div>
</body>
</html>
